<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
    <h2>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
      excepturi, aspernatur quam odio non, earum dolor eligendi voluptatem ullam
      nemo nobis provident? Aperiam eligendi laudantium eius! Nulla similique
      expedita illum!
    </h2>
    <p>Hello</p>
  </nav>
</header>
