   <div class="container">
      <section class="offering">
        <div class="container-offering-apfel">
  <div class="apfel">
        <img src="../img/offerings/img/apfel-border.png" 
        class="apfel"
        alt="apple" 
        height="550"
         width="550"/>
     </div>
         </div>
       <div class="container-offering-second">
      <div class="offering-first">  
        <h2 class="offering-title">What’s Special About Our Offerings</h2>
         <p class="offering-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        </div>
        <div class="offering-second">
        <ul class="offering-list">
          <li class="offering-link1 list">
            <a href="" class="offering-icon">
                      <svg class="svg-icon" width="20" height="20">
                        <use
                          href="../img/offerings/sprite.svg/sprite.svg#icon-rocket"
                        ></use>
                      </svg>
                    </a>
            <h3 class="fasest-delivery">Fasest Delivery</h3>
            <p class="offering-paragraf1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.</p>
          </li>
          <li class="offering-link2 list">
            <a href="" class="offering-icon">
                      <svg class="svg-icon" width="20" height="20">
                        <use
                          href="../img/offerings/sprite.svg/sprite.svg#icon-tach"
                        ></use>
                      </svg>
                    </a>
            <h3 class="easy-to-order">Easy To Order</h3>
            <p class="offering-paragraf2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros.
            </p>
          </li>
        </ul>
        </div>  
      <button class="offering-button" type="button">Order Now</button>
      </div>
    </div>
      </section>