<section class="subscribe">
    <div class="container subs-box">
      <div>
        <h2 class="subs-title">Subscribe To Get Special Offers</h2>
        <p class="subs-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      
        <input class="subs-form"  type="email" name="email" value="Enter your email" />
        <button class="btn" type="button">Subscribe</button>
      </div>
    <div>
    <img src="./img/banan.jpg" alt="banan" width="608" height="266" />
    </div>
  </section>