/* -------------offering Olena------------- */

:root {
    --bg-color: #fefefe;
    --second-bg-color: #ffe550;
    --main-color: #2c2c2c;
    --accent-color: #bbf330;
    --extra-color: #7eb101;
    --form-text: #505050;
}

.offering {
    width: 1280px;
    height: 824px;
    display: flex;
    padding-top: 0px;
    background-image: url(../img/offerings/img/backgraund-adapt.png);
    background-size: cover;
    position: relative;
}

.offering-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: var(--main-color);
    display: inline-flex;
    margin-bottom: 20px;
    padding-top: 260px;

}

.apfel {
    transform: translate(45px, 90px);
}

.container-offering-apfel {
    width: 550px;
    height: 550px;
    margin-bottom: 64px;
    display: block;
    position: relative;
}

.offering-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    padding-bottom: 0;
}

.offering-first {
    width: 500px;
    flex-direction: flex;
    margin-bottom: 40px;
    margin-right: 98px;
}

.offering-second {
    display: flex;
}

.offering-list {
    display: flex;
    gap: 67px;
}

.offering-link1 {}

.fasest-delivery {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.offering-paragraf1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

}

.easy-to-order {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.offering-paragraf2 {}

.offering-button {
    box-sizing: border-box;
    width: 106px;
    height: 40px;
    background-color: var(--bg-color);
    border: 2px solid var(--extra-color);
    border-radius: 30px;
    display: flex;
    align-content: center;
    margin-top: 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    cursor: pointer;
    padding-top: 10px;
    padding: bottom 10px;
    padding-left: 24px;
}

.offering-icon {

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--bg-color);
    transition: background-color var(--time);
    transition-duration: 250ms;
    margin-bottom: 8px;
    margin-top: 40px;
}

.svg-icon {
    fill: var(--extra-color);
}

.svg-icon:hover,
.svg-icon:focus {
    fill: var(--accent-color);
}

.fasest-delivery {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.offering-button:hover,
.offering-button:focus {
    background-color: var(--accent-color);
}



.container-offering-second {
    width: 656px;
    display: flexbox;

}


.offering-list {}

.offering-link {}


.fasest-delivery {}

.offering-paragraf1 {

    width: 253px;
}