:root {
    --bg-color: #fefefe;
    --second-bg-color: #ffe550;
    --main-color: #2c2c2c;
    --accent-color: #bbf330;
    --extra-color: #7eb101;
    --form-text: #505050;
  }

  .subs-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: var(--main-color);
  }
  
  .subs-box {
    display: flex;
  }
  
  .subs-text {
    margin-top: 20px;
  }
  
  .subs-form {
    margin-top: 24px;
    font-size: 12px;
    color: var(--form-text);
  }